.min-body{
				padding-top: 50px;
}
.clal{
				width: 200px;
				height: 280px;
				margin-left:380px ;
				background-color:black ;
				margin-top: 30px;
}
.output{
     padding-top: 10px;
				
}
#screen{
				width: 80%;
				height: 30px;
				background-color: white;
				margin-left: 20px;
				margin-top: 10px;
				pointer-events: none;
}
.button{
			padding-top: 10px;	
}
.row{
				margin-left: 25px;
				margin-top: 5px;
}
.btn{
				width: 35px;
				height: 35px;
}
.btn1{
				width: 35px;
				height: 35px;
				background-color: red;
				border: none;
}