.clal{
				width: 200px;
				height: 280px;
				margin-left:75px ;
				background-color:black ;
}
.output{
     padding-top: 10px;
				
}
#screen{
				width: 80%;
				height: 30px;
				background-color: white;
				margin-left: 20px;
				margin-top: 10px;
				pointer-events: none;
}
.button{
			padding-top: 10px;	
}
.row{
				margin-left: 25px;
				margin-top: 5px;
}
.btn{

				width: 100px;
				height: 100px;
				font-size: 50px;
				
}
.btn1{
				width:100px;
				height: 100px;
				font-size: 40px;
				background-color: red;
				border: none;
}	
.btn2{
				width:100px;
				height: 100px;
				font-size: 50px;
				background-color: skyblue;
				border: none;
}			

				
			


