.clal{
				width: 549px;
				height: 749px;
				background-color: black; 
				margin-left: 199px;
				margin-top: 299px;
}
.output{
				
}
#screen{
				width: 79%;
				height: 79px;
				margin-left: 59px;
				margin-top: 80px;
				font-size: 30px;
}
.button{
padding-top: 10px;
padding-left: 70px;
				
}
.row{
padding-top: 5px;
		
			 
}
.btn{
				width: 100px;
				height: 100px;
				font-size: 50px;
				
}
.btn1{
				width:100px;
				height: 100px;
				font-size: 40px;
				background-color: red;
				border: none;
}	
.btn2{
				width:100px;
				height: 100px;
				font-size: 50px;
				background-color: skyblue;
				border: none;
}			
